extends layout

block content
	script(type="text/x-jquery-tmpl" id="table-template")
		table.table.table-hover.table-striped.table-condensed
			tbody
				tr
					td Host IP/Port
					td ${host.ip}:${host.port}
				tr
					td Messages/sec
					td ${msgpersec}
	div#table

block scripts
	script(src='/js/peer-detail.js')
